TestAliFinancialService/Service References/AliService/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/IAli?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/IAli?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAli_GetJsonCurrentRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonCurrentRate" />
  </wsdl:message>
  <wsdl:message name="IAli_GetJsonCurrentRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonCurrentRateResponse" />
  </wsdl:message>
  <wsdl:message name="IAli_GetJsonClawlerDisableTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonClawlerDisableTime" />
  </wsdl:message>
  <wsdl:message name="IAli_GetJsonClawlerDisableTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonClawlerDisableTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAli_SetClawlerDisableTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SetClawlerDisableTime" />
  </wsdl:message>
  <wsdl:message name="IAli_SetClawlerDisableTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetClawlerDisableTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAli">
    <wsdl:operation name="GetJsonCurrentRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAli/GetJsonCurrentRate" message="tns:IAli_GetJsonCurrentRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAli/GetJsonCurrentRateResponse" message="tns:IAli_GetJsonCurrentRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJsonClawlerDisableTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAli/GetJsonClawlerDisableTime" message="tns:IAli_GetJsonClawlerDisableTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAli/GetJsonClawlerDisableTimeResponse" message="tns:IAli_GetJsonClawlerDisableTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetClawlerDisableTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAli/SetClawlerDisableTime" message="tns:IAli_SetClawlerDisableTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAli/SetClawlerDisableTimeResponse" message="tns:IAli_SetClawlerDisableTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAli" type="tns:IAli">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJsonCurrentRate">
      <soap:operation soapAction="http://tempuri.org/IAli/GetJsonCurrentRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJsonClawlerDisableTime">
      <soap:operation soapAction="http://tempuri.org/IAli/GetJsonClawlerDisableTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClawlerDisableTime">
      <soap:operation soapAction="http://tempuri.org/IAli/SetClawlerDisableTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IAli" binding="tns:BasicHttpBinding_IAli">
      <soap:address location="http://localhost:8733/IAli" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>